.infobox {
	text-align: center;
	color:white;
	position:relative;	
    background-image: url("/img/underwater.jpg");
    height: 93vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.maintextbox{
    font-family: "Gravity-Book";
    color: white;
}

.titlemain{
    font-family: "Gravity-Regular";
    letter-spacing: 20px;
    font-size:2.5rem;
    padding-left: 19px;
}

.subtextmain {
    font-family: "Gravity-Regular";
}

.learnmorebox {
    text-align: center;
    position: absolute;
    left: calc(50% - 52px);
    top: calc(100% - 95px);
}

.learnmoretext {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.learnmorebox:hover {
    cursor: hand;
    cursor: pointer;
}

.learnmorearrow {
    text-decoration: none;
    font-size: 48px;
    color: white;
    margin-top: 0;
}

.learnmorearrow:hover {
    cursor: hand;
    cursor: pointer;
}

.posttitle {
    font-size:18px;
    padding:10px 0 5px 0;
}

.posttitle a{
    text-decoration:none;
    color: inherit;
}

.posttitle a:hover{
    opacity: .5;
}

.slideshowtitle {
    color:black;
}

.slideshowtitle a{
    text-decoration:none;
    color: inherit;
}

.slideshowtitle:hover{
    opacity: .5;
}

.slideshowpaintings:hover {
    cursor: hand;
    cursor: pointer;
}

.postdate {
    color:#5b5858;
    font-size:11px;
    padding:0 0 25px 0;
}



/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: 29px;
    margin-top: 0;
    padding: 0px 16px 0px 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    height: 99%;
}

/* Position the "next button" to the right */
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.3);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 25px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



@media only screen and (max-width: 700px) {
    .textbox{
        max-width: 854px !important; 
        width: 600px !important;
    }
}

@media only screen and (max-width: 500px) {
    .infobox {
    height: 615px !important;
}

