body {
	
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Gravity-Book";
    overflow-x:hidden;
    overflow-y:hidden;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.content {
	margin-right: auto; 
	margin-left: auto; 
	text-align: center;
	height: 100%; 
    width: 100%; 
    overflow-x:hidden;
    overflow-y:hidden;
}

.footer {
	width: 100%;
	height:80px;
	text-align: left;
	background-color: black; 
	color:white;
}

.footernews a {
	text-decoration: none;
	color:#626262;
}

.footernews a:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .5;
}

.header {
	width: 100%;
	text-align: center;
	background-color: black; 
	color:white;
    font-family: Faune-Regular, sans-serif;
}

.header a {
	padding: 0px 15px 0px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.header a:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .5;
}

.header input {
    padding: 0px 15px 0px 0px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}

.header input:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .5;
}

.middlepanel {
	overflow-wrap: normal; 
    margin:auto;
    max-width: 1100px;
    margin:auto; 
    padding:0 20px 20px 20px;
}

.contacthome {
	width: 100%;
    height: 200px;
	text-align: center;
	padding: 25px 0 25px 0;
	background-color: #3d3d3d;; 
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.myheading1 {
	font-weight:bold;
	color:#3d3c3c;
	font-size:21px;
    font-family: "Gravity-Regular";
}

.myheading2 {
	text-align:center;
	font-weight:bold; 
}
.myheading2 a{
    text-decoration:none;
    color: inherit;
}

.myheading3 {
    text-align:center;
    font-weight:bold; 
    color: black;
    border: 0px solid black;
    background-color: #c3c3c3;
    padding: 3px 8px;
    margin: 2px;
}

.changetoblue{
   background-color: #a7acc5 !important;
}

.myheading3 a{
    text-decoration:none;
    color: inherit;
}

.myheading3 a:hover{
    cursor: hand;
    cursor: pointer;
    opacity: .5;
}

.emaildata {
	background: transparent;
    border: none;
    border-bottom: 1px dashed #000;
    width: 200px;
    outline: none;
	float:right;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}

.rotate90 {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.homepics {
    transition: transform .2s;
}

.homepics:hover {
    cursor: hand;
    cursor: pointer;
    transform: scale(1.08);
}

.imgHolder{
  display: inline-block;
  background: #b3c5d5;
  height:275px; 
  width:275px;
}
.imagecenter{
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 275px;
    width: 275px;
    display: flex;
    position: absolute;
}
.item-fade{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    max-width: 275px; 
    max-height: 275px;
}

.contactpics {
	transition: transform .2s;
	padding: 5px 25px 5px 25px;
}

.contactpics:hover {
    cursor: hand;
    cursor: pointer;
    transform: scale(1.3);
}

.menubutt {
	
}

.menubutt:hover {
    cursor: hand;
    cursor: pointer;
}


.button1 {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 20px 15px 20px;
    width: 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Faune-Regular, sans-serif;
}

.button1:hover {
    background-color: #5f5f5f; 
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

.button2 {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 5px 7px 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 2px;
	font-family: Faune-Regular, sans-serif;
}

.button2:hover {
    background-color: #5f5f5f; 
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

.button3 {
    transform: translate(-50%, -50%);
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 20px 15px 20px;
    width: 170px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 3px;
	box-shadow: 0px 7px 4px #7f7c7c;
	font-family: Faune-Regular, sans-serif;
}

.button3:hover {
    background-color: #7c7c7c; 
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

.secretbutton{
    width: 300px;
    height: 200px;
    margin: 7px;
    background-color: #3d6f2d;
}

.notclickable {
    pointer-events:none;
    background-color: #4b1717;
}

.button4 {
    background-color: #3d6f2d;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 3px;
    font-family: Faune-Regular, sans-serif;
}

.button4:hover {
    background-color: #7c7c7c; 
    cursor: pointer;
    opacity: .9;
}


 /* The side navigation menu /////////////////////////////////////////////////////////////*/
.sidenav {
    height: 0px;
    width: 100%; /* 0 width - change this with JavaScript */
    /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 70px; /* Stay at the top */
    left: 0;
    background-color: #000; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav input{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    opacity: .5;
}

.sidenav input:hover {
    cursor: hand;
    cursor: pointer;
    opacity: 1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .sidenavlabel {
	margin-left: 8px;
	color: white;

}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 



 /* The ad /////////////////////////////////////////////////////////////*/
.sidead {
    height: 50px; /* 100% Full-height */
    width: 0px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    right: 0; /* Stay at the top */
    bottom: 60px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable horizontal scroll */
    padding: 20px 0px 20px 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidead a {
    text-decoration: none;
    color: #818181;
    transition: 0.3s;
}

.sidead a:hover {
    color: #f1f1f1;
}

.sidead .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 25px;
	display:inline-block;
}

.sidead .sidenavlabel {
	margin-left: 8px;
	color: white;
    font-size: 12px;
	display:inline-block;
    padding: 8px 8px 8px 8px;


}

/*This is the custom checkbox///////////////////////////////////////////////*/
/* The container */
.notify {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.notify input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 90px;
    height: 14px;
    width: 14px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.notify:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.notify input:checked ~ .checkmark {
    background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.notify input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.notify .checkmark:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


 /* Fonts /////////////////////////////////////////////////////////////*/

@font-face {
font-family: Faune-Regular;
src: url(../fonts/Faune-TextRegular.otf);
}

@font-face {
font-family: Faune-Bold;
src: url(../fonts/Faune-TextBold.otf);
}

@font-face {
font-family: Proxima-Nova-Bold;
src: url(../fonts/Proxima-Nova-Bold.otf);
}

@font-face {
font-family: Adobe-Garamond-Pro-Italic;
src: url(../fonts/Adobe-Garamond-Pro-Italic.otf);
}

@font-face {
font-family: Crimson-Italic;
src: url(../fonts/Crimson-Italic.otf);
}
@font-face {
font-family: Gravity-Bold;
src: url(../fonts/Gravity-Bold.otf);
}
@font-face {
font-family: Gravity-Regular;
src: url(../fonts/Gravity-Regular.otf);
}
@font-face {
font-family: Gravity-Book;
src: url(../fonts/Gravity-Book.otf);
}
@font-face {
font-family: FA5-Pro-Solid;
src: url(../fonts/Font-Awesome-5-Pro-Solid-900.otf);
}
@font-face {
font-family: FA5-Pro-Regular;
src: url(../fonts/Font-Awesome-5-Pro-Regular-400.otf);
}
@font-face {
font-family: FA5-Pro-Light;
src: url(../fonts/Font-Awesome-5-Pro-Light-300.otf);
}
@font-face {
font-family: FA5-Brands-Regular;
src: url(../fonts/Font-Awesome-5-Brands-Regular-400.otf);
}
@font-face {
font-family: Zombie-Holocost;
src: url(../fonts/Zombie_Holocaust.ttf);
}
@font-face {
font-family: Condensed-French;
src: url(../fonts/FhaCondensedFrenchNc-O2n3.ttf);
}

.FA-downarrow {
    font-family: "FA5-Pro-Solid";

}



@media only screen and (max-width: 1000px) {
    
    .swapheadercomputer{
        visibility: hidden;
    }

    .hdrbtn{
        left:0px !important;
    }

    .swapheaderphone{
        visibility: visible !important;
    }

    .slideshowpaintings{
        width:350px !important; 
        height:350px !important;
    }

    .next {
        right:76px !important;
    }

    .prev {
        left: 75px !important;
    }

    .prev, .next {
        width: 15px !important;
    }
    .next2 {
        margin-top: 172px !important;
    }

    .prev2 {
        margin-top: 172px !important;
    }

    .numbertext {
        left: 63px;
    }


}



.whitetograyfading {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: fading;
    animation-duration: 2s;
    animation-name: fading;
}
@-webkit-keyframes fading {
    from {
        color: white;
    }
    to {
        color: #7d7d7d;
    }
}
@keyframes fading {
    from {
        color: white;
    }
    to {
        color: #7d7d7d;
    }
}

.crossworddiv{
    position: absolute;
    font-size: 15px;
    letter-spacing: .89em;
    line-height: 20.2px;
}

.picmeminput{
    width: 30px;
    text-align: center;
    background: #cecaca6e;
    border: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: medium;
    border-bottom: 1px solid #ffffff54;
    outline: none;
    padding: 0px 5px 0px 5px;
    margin: 0 0 0px 0;
    color: white;
}

.whitetoblackfading {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: fading2;
    animation-duration: 2s;
    animation-name: fading2;
}

.picmemoryimage {
    border-style: solid;
    max-width: 200px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

@-webkit-keyframes fading2 {
    from {
        color: white;
    }
    to {
        color: black;
    }
}
@keyframes fading {
    from {
        color: white;
    }
    to {
        color: black;
    }
}




.listbox{
  background-color: white;
  margin:auto;
  width: 75%;
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  padding: 30px;
  box-shadow: 
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
}

.listheader{
    cursor: pointer;
}

.listex{
    color: red;
    display: inline;
    padding-left: 19px;
}